name: Notification Scheduler

on:
  schedule:
    - cron: "*/1 * * * *"   # runs every 1 minute
  workflow_dispatch:

jobs:
  run-scheduler:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger scheduled notifications in Django
        run: |
          curl -X POST https://traillend-system-r0kw.onrender.com/api/run-scheduler/ \
          -H "Content-Type: application/json"
